<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Messaging Application OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>633E03B31D041AE800A98634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>633E03C41D041AE800A98634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>633E03CF1D041AE800A98634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
